.players {
  display: flex;
  gap: 50px;
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./../../assets/battleship-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
