.square {
  width: 36px;
  height: 36px;
  background-color: blue;
  border: 1px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.set-ships-mode {
  cursor: pointer;
}

.has-ship {
  background-color: aqua;
  width: 36px;
  height: 36px;
  border-radius: 80%;
}

.hit {
  background-color: red;
  width: 36px;
  height: 36px;
  border-radius: 80%;
}

.pass {
  background-color: black;
  width: 36px;
  height: 36px;
  border-radius: 80%;
}

.set-ships-mode {
  cursor: cell;
}

.players {
  display: flex;
  gap: 50px;
}

.game {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

header {
  text-align: center;
}

.subtitle {
  font-size: 30px;
  color: blue;
  background-color: rgba(255, 255, 255, 0.5);
}

h1,
h2,
p {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
}

.player-button {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-style: oblique;
  color: blue;
  background-color: white;
  cursor: pointer;
}

.player-button:hover {
  color: white;
  background-color: blue;
  transform: scale(1.1);
}

.choose-player-page {
  box-sizing: border-box;
  padding: 10px;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/uk_cruisers_key_art.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-player-page h1 {
  color: blue;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 90px;
}

.choose-player-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player1-header,
.player2-header {
  color: aqua;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 50px;
}

.turn {
  color: aqua;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 50px;
  width: 100%;
  height: 10vh;
}

.boards {
  display: flex;
}

.board1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.board-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}