.square {
  width: 36px;
  height: 36px;
  background-color: blue;
  border: 1px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.set-ships-mode {
  cursor: pointer;
}

.has-ship {
  background-color: aqua;
  width: 36px;
  height: 36px;
  border-radius: 80%;
}

.hit {
  background-color: red;
  width: 36px;
  height: 36px;
  border-radius: 80%;
}

.pass {
  background-color: black;
  width: 36px;
  height: 36px;
  border-radius: 80%;
}

.set-ships-mode {
  cursor: cell;
}

.players {
  display: flex;
  gap: 50px;
}

.game {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
